In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data_q_4 = pd .read_csv('all_news_q4_2024.csv')
data_q_1 = pd .read_csv('all_news_q1_2025.csv')

In [3]:
data_q_4.head()

,label,text
0,The Guardian;Middle East crisis live: Israel ‘...,Israeli media is reporting that one person has...
1,The Guardian;Australia financially assisting s...,The federal government is understood to be fin...
2,The Guardian;Structural racism leading to star...,Structural racism is leading to stark health i...
3,The Guardian;Tuesday briefing: What we know so...,"Good morning. Overnight, Israel began what it ..."
4,The Guardian;US secretary of defence warns of ...,Here’s where things stand in the hours since I...

In [4]:
def preprocess(df):
    df[['source', 'headline', 'link', 'time']] = df['label'].str.split(';', n=3, expand=True).fillna('-1')
    df.drop(columns=['label'], inplace=True)
    df.isnull().sum()
    df = df.dropna()
    dfe = df[['link','source','headline','text']]
    return dfe

In [ ]:
result = preprocess(data_q_4)
result.to_csv('')